{% extends "layout.html" %}

{% block title %}Entries of all blog{% endblock %}

{% block blog_entries %}
	{% if entries %}
		{% for post in entries %}
{% include 'post_block.html' %}
		{% endfor %}
		<div class="pagination pagination-right pagination-small">
			<ul>
				<li class="disabled"><a href="X">Prev</a></li>
				<li class="active"><a href="X">1</a></li>
				<li><a href="X">2</a></li>
				<li><A>...</A></li>
				<li><a href="X">20</a></li>
				<li><a href="X">21</a></li>
				<li><a href="X">Next</a></li>
			</ul>
		</div>
	{% else %} <!-- if entry -->
		<div class="ctop"></div>
		<div class="box">
		<h2>Not Found</h2>
		<p>Sorry, but you are looking for something that isn't here.</p>
		</div>
		<div class="clear"></div>
		<div class="cbottom"></div>
		<div class="space"></div>
	{% endif %}<!-- end entry -->

{% endblock %}


