			<div class="ctop"></div>
			<div class="box">
			<div id="post-{{post.key}}">
			<div class="nifty"><h2><a href="/post/{{ post.slug }}" rel="bookmark" title="Permanent Link to {{post.title}}">{{post.title}}</a> <span class="date">{{post.date}}</span></h2></div>


			<div class="en_body">
			{{post.content}}
			</div>

			<div class="meta">{% if post.strtags %}Tags: {%for tag in post.tags%}<a href="/tag/{{tag}}">{{tag}}</a> {%endfor%}<br><br>{%endif%}  Posted in {%for cate in post.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} | {%if self.is_admin%}<a href="{{post.edit_url}}">Edit</a> | {%endif%}  <a href="/post/{{post.slug}}#comments">Comments({{post.commentcount}})&#187;</a></div>
			</div>

			</div>
			<div class="cbottom"></div>
			<div class="space"></div>
