{% extends "layout.html" %}

{% block page_title %}Comments Management{% endblock %}

{% block admin_content %}

<div id="posts_container" class="span10 offset1">
        
        <div class="alert alert-info" id="alert-message" style="visibility:hidden">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>{{ _("Information") }}:</strong> 
            <br/>
            <p id="alert_message_text"></p>
        </div>

    <table class="table table-hover">
        <caption><h3 class="pull-left">All Comments for Your Blog:</h3></caption>
        <thead class="">
            <tr>
                <td>{{ _("Entry") }}</td>
                <td>{{ _("Author") }}</td>
                <td>{{ _("Email") }}</td>
                <td>{{ _("Website") }}</td>
                <td>{{ _("Content") }}</td>
                <td>{{ _("IP") }}</td>
                <td>{{ _("Date") }}</td>
                <td>{{ _("Operations") }}</td>
            </tr>
        </thead>
        <tbody>
    {% for comment in comments %}
        <tr class="" id="comment_{{ comment.key().id() }}">
            <td>{{ comment.entry.title }}</td>
            <td>{{ comment.author }}</td>
            <td>{{ comment.email }}</td>
            <td>{{ comment.weburl }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.ip }}</td>
            <td>{{ comment.date|datetime }}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-mini btn-danger" onClick="deleteComment({{ comment.key().id() }})">Delete</a>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

</div><!-- posts_container -->

{% endblock %}

    {% block extra_js_block %}
    <script type="text/javascript">
    function deleteComment(comment_id)
    {
        // Create an XMLHttpRequest 'POST' request w/ an optional callback handler
          var req = new XMLHttpRequest();
          var async = true;

          // Build an Array of parameters, w/ function_name being the first parameter
          var params = new Object();
          params.comment_id = comment_id
          params.operation = "delete"
          var body = "data=" + JSON.stringify(params);
          // alert(body)

          req.open('POST', '/admin/comments', async);
          req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          req.setRequestHeader("Content-length", body.length);

          if (async) {
            req.onreadystatechange = function() {
              if(req.readyState == 4 && req.status == 200) {
                var response = null;
                try {
                    response = JSON.parse(req.responseText);
                    document.getElementById("alert-message").style.visibility="visible";
                    document.getElementById('alert_message_text').innerHTML = response['message'];
                    var tr = document.getElementById("comment_"+comment_id)
                    tr.parentNode.removeChild(tr);
                } catch (e) {
                 response = req.responseText;
                }
              }
            }
          }

          // Make the actual request
          req.send(body);        
    }
    </script>

    {% endblock %}
