{% extends "layout.html" %}

{% block admin_content %}

<div class="span8 offset2" >
<table class="table table-hover">
  <caption>Blog Status Summary</caption>
  <thead>
    <tr>
      <th style="text-align:center;">{{ _("Item") }}</th>
      <th style="text-align:center;">{{ _("Counts") }}</th>
      <th style="text-align:center;">{{ _("Status") }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:center;">{{ _("Entry") }}</td>
      <td style="text-align:center;">{{ stats.posts }} </td>
      <td style="text-align:center;"></td>
    </tr>
    <tr>
      <td style="text-align:center;">{{ _("Comments") }}</td>
      <td style="text-align:center;">{{ stats.comments }} </td>
      <td style="text-align:center;"></td>
    </tr>
    <tr>
      <td style="text-align:center;">{{ _("Categories") }}</td>
      <td style="text-align:center;">{{ stats.categories }} </td>
      <td style="text-align:center;"></td>
    </tr>
    <tr>
      <td style="text-align:center;">{{ _("Links") }}</td>
      <td style="text-align:center;">{{ stats.links }} </td>
      <td style="text-align:center;"></td>
    </tr>
    <tr>
      <td style="text-align:center;">{{ _("Pages") }}</td>
      <td style="text-align:center;">{{ stats.pages }} </td>
      <td style="text-align:center;"></td>
    </tr>
  </tbody>
</table>
</div>
    
{% endblock %}
